<launch>
    <node pkg="log_replay" name="invasion_detection" type="invasion_detection" required="true" output="screen">
         <rosparam file="$(find log_replay)/../config/invasion_detection.yaml" command="load"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find log_replay)/rviz/invasion_detection.rviz"/>

    <node pkg="log_replay" name="keyboard_publisher" type="keyboard_client.py" output="screen"/>
</launch>
